<h1> Data Science Tools and Ecosystem </H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    - R
    - Python
    - SQL

Objectives:
- learn how to use Jupyter
- learn how get started with Python
- lean how to use Github

Some of the commonly used libraries used by Data Scientists include:
    - Matplotlib
    - Pandas
    - SciPy
    - PyTorch

| Data Science Tools |
| :--- |
| Apache Spark |
| Tableou |
| Power BI |

### Below are a few examples of evaluating arithmetic expressions in Python ###

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
minutes=200
minutes_per_hour=60
hours=minutes/minutes_per_hour
print (minutes, " are ", hours, "hours")

200  are  3.3333333333333335 hours

## Author ##
Guenther Ruf